$bgColor: #F8F8F8;
$textColor: #1B1C21;

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  font-family:"TTLakes";
  line-height:20px;
  font-size: 14px;
}
.container{
  padding:0;
  margin:0 auto 0 auto;
  background:$bgColor;
  color:$textColor;
  /*max-width:1440px;
  max-height: 2200px;*/
  max-width:1440px;
  height:2600px;
  display: flex;
  flex-direction:column;
  -ms-flex-wrap: wrap !important;/*for ie11*/
  flex-wrap:wrap;
}
.header{
  width:310px;
  height: 100%;
}
.main{
  max-width:1130px;
  width:100%;
  height: auto;
}
.footer{
  max-width:1130px;
  width:100%;
  height: 90px;
  padding-top:32px;
}
a{
  color:inherit;
  text-decoration: none;
}
.hide{
  display: none;
}
.overlay {
  position:fixed;
  z-index:1;
  background:white;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0.9;
}
.top-border{
  border-top:1px solid #D9FFF5;
}
.moreRead-margin{
  margin-left:30px;
}
.margin-left{
  margin-left:8px;
}
.margin-right{
  margin-right:8px;
}
.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #DDDDDD;;
  &-active {
      background-color: #B5B6BC;
  }
}
