$footerTextColor: #7E7E82;

.footer{
  &__wrapper{
    display:flex;
    flex-direction:column;
    text-align:center;
  }
  &__item{
    width:100%;
    color: $footerTextColor;
  }
}

@media screen and  (min-width: 768px) {
  .footer{
    padding-left:35px;
    &__wrapper{
      align-items: baseline;
      justify-content: space-between;
      flex-direction:row;
      text-align:left;
    }
    &__item{
      width:30%;
    }
  }
}