$gadjetHeaderColor:#7E7E82;
$gadjetBorderEl: #EAEAEA;
$gadjetBg:#FFFFFF;
$gadjetBorderActive: red;

.gadjets{
  margin-bottom:30px;
  
  &__header{
    background: linear-gradient(to right, $bgColor 0, #FFFFFF 98%);
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $gadjetHeaderColor;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:10px;
  }
}
@media screen and (min-width: 768px){
  .gadjets{
    margin-bottom:50px;
  }
}

.device{
  overflow: hidden;
  position:relative;

  &__list{
    padding-left:14px;
    height:200px;
    flex-wrap:nowrap;
  }
  &__item{
    height:160px;
    max-width:230px;
    min-width:210px;
    width:25%;
    background: $gadjetBg;
    border: 1px solid $gadjetBorderEl;
    border-radius: 6px;
    margin-bottom:16px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding-left:16px;
    margin-left:16px;
  }
  &__item .light-circle{
	  align-self: flex-end;
  }
}

@media screen and (min-width: 768px){
  .device{
    &__list{
      flex-wrap:wrap;
      height:170px;
    }
    &__item:hover,
    &__item:focus{
      border:1px solid $gadjetBorderActive;
    }
  }
}