$headerBorderColor: #41F6D7;
$itemBorderColor:#B8FFEC;
$linkColor:#7E7E82;

.header-page{
  display:flex;
  justify-content:space-between;
  align-items:baseline;
  margin-top:10px;

  &__title{
    border-left:3px solid $headerBorderColor;
    border-radius: 2px;
    font-size: 28px;
    line-height: 40px; 
    padding-left:30px;
    font-weight:900;
  }
  &__btn{
    display:none;
  }
}
@media screen and (min-width: 1024px) { 
  .header-page__btn{
    display:flex;
    justify-content:space-between;
    width:400px;
  }
}

.nav{
  overflow:hidden;
  
  &__list {
    list-style:none;
    display:flex;
    flex-wrap:nowrap;
    font-size:16px;
    line-height:24px;
  }
  &__item{
    width:20%;
    max-width:220px;
    min-width:210px;
    height:40px;
    border: 2px solid transparent;
    border-radius: 6px;
  }
  &__item:hover, 
  &__:focus{
    border: 2px solid $itemBorderColor;
  }
  &__link{
    color:$linkColor; 
    text-decoration:none;
    white-space:nowrap;
    letter-spacing: -0.2px;
    width:100%;
    height:100%;
    display:inline-block;
    padding-top:5px;
    text-align:center;
  } 
}
@media screen and (min-width: 1024px) { 
  .nav__list{
    flex-wrap: wrap;
    overflow: visible;
  }
}

.menu-tablet{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:24px 0 24px 30px;
  &__main{
    flex-grow:1;
    max-width:550px;
    padding-left:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn{
    display:flex;
    justify-content: center;
    border-left:2px solid #EAEAEA;
    padding-left:10px;
    max-width:130px;
    width:40%;
  }
}
@media screen and (min-width: 768px){
  .menu-tablet{
    &__main{
      border-left:2px solid #EAEAEA;
      border-radius:1px;
    }
  }
}
@media screen and (min-width: 1024px) { 
  .menu-tablet{
    display:none;
  }
}

.contact-btn{
  display:none;
}
@media screen and (min-width: 768px){
  .contact-btn{
    display:flex;
  }
}
