/*десктоп*/
@media screen and (min-width: 1024px) { 
  
  .swiper-pagination {
    display: none;
  }
}

/*планшет*/
@media screen and (max-width: 1023px) { 
 
  
  
  


  /*обрезаем навигацию страницы под размер экрана*/
 
 
}



/*телефон */
@media screen and  (max-width: 651px) {
  
  .btn-repairs,
  .btn-gadjets{
    /*display:none;*/
  }

  
  /*таблица цен в блок*/
    /*убираем общий заголовк таблицы*/
    
    /*бренды обрезаем*/
    .repairs__list-wrap{
      flex-wrap:nowrap;
    }
    .repairs__list{
      height: 110px;
      width:100vw;
    }

    /*обрезаем гаджеты*/
    .gadjets__list-wrap{
      flex-wrap:nowrap;
    }
    .gadjets__list{
      height:200px;
      width:100vw;
    }
    /*.swiper-slide{
      width:80%;
    }*/
}



