$menuBg:#FFFFFF;
$menuBorder:#B8FFEC;
$menuActiveColor: #7E7E82;

.menu{
  width:310px;
  height:auto;
  background:$menuBg;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display:none;
  position:absolute;
	top:0;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);

  &__header{
    padding-top:20px; 
    padding-bottom:38px;
    display:flex;
    justify-content:space-around;
  }
  &__wrapper{
    display:flex;
    flex-direction:column;
    max-height:700px;
    height:100%;
    justify-content:space-between;
  }
}
@media screen and  (min-width: 1024px) {
  .menu{
    display:block;
    box-shadow:none;
    position:relative;
  }
  &__header{
    padding-bottom:57px;
  }
}

.btn-primery--close-burger{
}
@media screen and  (min-width: 769px){
  .btn-primery--close-burger{
    display:none;
  }
}

.m-nav{
  &__list{
    list-style:none;
    padding:0;
    margin:0;
  }
  &__item{
    padding-left:24px;
    margin-bottom:10px;
    cursor:pointer;
  }
}
@media screen and  (min-width: 769px){
  .m-nav__item{
    margin-bottom:32px;
  }
}
.m-contact{
  color:#1B1C21;
  display:flex;
  flex-direction:column;
  padding-left:24px;
  
  &__phone{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight:bold;
    margin-top:12px;
    text-decoration: none;
    color:$textColor;
  }
  &__link{
    margin-top:16px;
  }
}  

.contact-btn{
  display:flex;
  width:160px;
  justify-content: space-between;
}

.lang-change{
  padding-top:30px;
  padding-left:24px;
}

.logo{
  width:97px;
  height:51px;
  cursor: pointer;
}

.active-border{
  border-left:4px solid $menuBorder;
  color: $menuActiveColor;
}
.active{
  color: $menuActiveColor;
}
