$modalBgColor:#FFFFFF;
$borderInput:#EAEAEA;
$borderInputActive: #B8FFEC;
$formTextColor: #7E7E82;
$formLinkColor: #FF3E79;

.overlay {
  position:fixed;
  z-index:1;
  background:white;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
 opacity:0.9;
}

.modal{
	width:20%;
	min-width:320px;
	height:100%;
	min-height:640px;
	position:fixed;
	right:0;
	top:0;
	z-index:3;
	background: $modalBgColor;
	padding-left:32px;
	padding-right:32px;
	padding-top:32px;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
	opacity:1;
	 
	&__title{
		font-size: 24px;
		letter-spacing: -0.6px;
	}
}




.form{
	&__wrapper{
		display:flex;
		flex-direction:column;
		justify-content: space-around;
	}
	&__input--style{
		border: 1px solid $borderInput;
		border-radius: 8px;
		height:50px;
		margin-bottom: 16px;
		padding-left:16px;
	}
	&__message{
		height:100px;
		padding-top:16px;
	}
	&__text{
		font-size: 14px;
		line-height: 16px;
		color:$formTextColor;
	}
	&__submit{
		align-self: flex-end;
	}
  &__link{
		color:$formLinkColor;
	}
}

.btn-primery--close-form{
	position:relative;
	right:1px;
}

@media screen and  (min-width: 321px){
	.btn-primery--close-form{
		position:absolute;
		left:-50px;
	}
}
