$modalBgColor:#FFFFFF;
$borderInput:#EAEAEA;
$borderInputActive: #B8FFEC;
$formTextColor: #7E7E82;
$formLinkColor: #FF3E79;

@keyframes zoom-in {
    from {transform:translateX(-500px)} 
    to {transform:translateX(0)}
}

.overlay {
  position:fixed;
  z-index:1;
  background:white;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
	display:none;
}

@media screen and (min-width: 1024px) { 
  .overlay {
    opacity: 0.9;
  }
}

.modal{
	display:none;
	width:320px;
	position:fixed;
	right:0;
	top:0;
	z-index:3;
	background: $modalBgColor;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
	opacity:1;
	
	&__title{
		font-size: 24px;
		letter-spacing: -0.6px;
	}
}

.scroll-wrapper{
	overflow-y: scroll;
	width:320px;
	height:100vh;
	width:100%;
	padding-left:32px;
	padding-right:32px;
	padding-top:32px;
}
@media screen and (min-width: 1024px) { 
  .scroll-wrapper{
		overflow-y:visible;
	}
}
.scroll{
	width:auto;
}


.form{
	&__wrapper{
		display:flex;
		flex-direction:column;
		justify-content: space-around;
	}
	&__input--style{
		border: 1px solid $borderInput;
		border-radius: 8px;
		height:50px;
		margin-bottom: 16px;
		padding-left:16px;
	}
	&__message{
		height:100px;
		padding-top:16px;
	}
	&__text{
		font-size: 14px;
		line-height: 16px;
		color:$formTextColor;
	}
	&__submit{
		align-self: flex-end;
	}
  &__link{
		color:$formLinkColor;
	}
}

.btn-primary--close-form{
	position:relative;
	top:10px;
	right:1px;
}

@media screen and  (min-width: 321px){
	.btn-primary--close-form{
		position:absolute;
		left:-50px;
	}
}

.animation-open {
	animation-duration: 0.6s;
	animation-name: zoom-in;
}


