.services{
  margin-bottom:30px;

  &__content{
    padding-left:34px;
  }
  &__img{
    float:right;
    width:100%;
    margin-left:15px;
    margin-bottom:10px;
  }
}
@media screen and  (min-width: 768px) {
  .services{
    &__img{
      width:50%;
    }
  }
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

