.services{
  margin-bottom:30px;

  &__content{
    padding-left:34px;
  }
  &__img{
    float:right;
    width:50%;
    margin-left:15px;
  }

}
.services__text-wrapper{
  height:205px;
  overflow:hidden;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn--services{
  margin-top:10px;
  width:150px;
}
